//
// Sprites
// --------------------------------------------------


// Icons
// -------------------------

// All icons receive the styles of the <span> tag with a base class of "icon",
// and a second unique class to add bg position and size (i.e. "icon-home").
// Your resulting HTML will look like:
// <span class="icon icon-dummy"></span>


// Base class
// --------------------

.icon {
  display: inline-block;
  background-image: url($icon-sprite-path);
  background-repeat: no-repeat;
  vertical-align: middle;
}


// Sub-classes
// --------------------

// Icons
// row #1 - sprite image
.icon-three-line                 { background-position:     0       0  ; @include sprite-icon-size( 33px,  23px); }
//.icon-twitter                    { background-position:   -50px     0  ; @include sprite-icon-size( 36px,  36px); }

// row #2 - sprite image
//.icon-cc-visa-sm                 { background-position:     0     -50px; @include sprite-icon-size( 37px,  22px); }
//.icon-cc-paypal-sm               { background-position:   -50px   -50px; @include sprite-icon-size( 37px,  22px); }
