//
// Variables
// --------------------------------------------------


// Colors
// -------------------------

$gray-base:             #000 !default;
$gray-darkest:          lighten($gray-base, 6.5%) !default;  // #111
$gray-darker:           lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             lighten($gray-base, 20%) !default;   // #333
$gray:                  lighten($gray-base, 33.5%) !default; // #555
$gray-light:            lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:          lighten($gray-base, 60%) !default;   // #999
$gray-lightest:         lighten($gray-base, 93.5%) !default; // #eee

$gray-cool-darker:      #2b2e32 !default;
$gray-cool-dark:        #5c6470 !default;
$gray-cool-light:       #84909f !default;
$gray-cool-lighter:     #bdc6d2 !default;

$brand-primary:         #c9de55 !default;
$brand-secondary:       #fc7e6a !default;


// Core
// -------------------------

// Scaffolding
$body-bg:               #fff !default;
$text-color:            $gray-dark !default;

$link-color:            $brand-primary !default;
$link-color-hover:      darken($link-color, 15%) !default;

// Vertical space between components.
// Use $line-height-computed as default value.
$vertical-space-lg:     30px !default;
$vertical-space-md:     25px !default;
$vertical-space-sm:     15px !default;

// Generic values for spacing
$space-byte:            5px !default;
$space-kilo-byte:       $space-byte * 2 !default;
$space-mega-byte:       $space-byte * 3 !default;
$space-giga-byte:       $space-byte * 4 !default;
$space-tera-byte:       $space-byte * 5 !default;
$space-peta-byte:       $space-byte * 6 !default;
$space-exa-byte :       $space-byte * 7 !default;
$space-zeta-byte:       $space-byte * 8 !default;


// Typography
$font-family-sans-serif:"Raleway", sans-serif !default;
$font-family-base:      $font-family-sans-serif !default;

$font-size-base:        14px !default;

$font-size-4xl:         ceil($font-size-base * 5.42) !default;    // ~76px
$font-size-3xl:         ceil($font-size-base * 3.42) !default;    // ~48px
$font-size-2xl:         ceil($font-size-base * 1.71) !default;    // ~24px
$font-size-xl:          ceil($font-size-base * 1.42) !default;    // ~20px
$font-size-lg:          ceil($font-size-base * 1.25) !default;    // ~18px
$font-size-md:          ceil($font-size-base * 1.07) !default;    // ~15px
$font-size-sm:          ceil($font-size-base * 0.92) !default;    // ~13px
$font-size-xs:          ceil($font-size-base * 0.85) !default;    // ~12px
$font-size-2xs:         ceil($font-size-base * 0.78) !default;    // ~11px
$font-size-3xs:         ceil($font-size-base * 0.71) !default;    // ~10px
$font-size-4xs:         ceil($font-size-base * 0.64) !default;    // ~9px

$font-size-h1:          floor(($font-size-base * 2.6)) !default;  // ~36px
$font-size-h2:          floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:          ceil(($font-size-base * 1.7)) !default;   // ~24px
$font-size-h4:          ceil(($font-size-base * 1.25)) !default;  // ~18px
$font-size-h5:          $font-size-base !default;
$font-size-h6:          ceil(($font-size-base * 0.85)) !default;  // ~12px

$line-height-base:      1.428571429 !default; // 20/14
$line-height-computed:  floor($font-size-base * $line-height-base) !default; // ~20px

// By default, this inherits from the `<body>`.
$headings-font-family:  inherit !default;
$headings-font-weight:  500 !default;
$headings-line-height:  1.1 !default;
$headings-color:        inherit !default;


// Buttons
$btn-size:              60px !default;
$btn-font-size:         $font-size-lg !default;
$btn-font-weight:       400 !default;
$btn-line-height:       $btn-size !default;
$btn-font-color:        #fff !default;
$btn-font-color-hover:  $brand-primary !default;
$btn-bg-color:          $brand-primary !default;
$btn-bg-color-hover:    $gray-cool-darker !default;

$btn-font-weight-top:   800 !default;


// Common
// -------------------------

// Header
$header-width:              100% !default;
$header-height:             82px !default;
$header-contact-font-color: $gray-cool-dark !default;

// Footer
$footer-contact-font-color: $gray-cool-light !default;
$footer-contact-pipe-color: $gray-cool-darker !default;
$footer-contact-font-size:  ceil(($font-size-base * 1.14)) !default; // ~16px


// Media Queries
// -------------------------

// Breakpoints
$screen-sm-min: 0em !default;        // 0
$screen-sm-max: 40em !default;       // 640px

$screen-md-min: 40.063em !default;   // 641px
$screen-md-max: 64em !default;       // 1024px

$screen-lg-min: 64.063em !default;   // 1025px
$screen-lg-max: 90em !default;       // 1440px

$screen-xl-min: 90.063em !default;   // 1441px
$screen-xl-max: 120em !default;      // 1920px

$screen-xxl-min: 120.063em !default; // 1921px

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{$screen-sm-max})" !default;

$medium-up: "#{$screen} and (min-width:#{$screen-md-min})" !default;
$medium-only: "#{$screen} and (min-width:#{$screen-md-min}) and (max-width:#{$screen-md-max})" !default;

$large-up: "#{$screen} and (min-width:#{$screen-lg-min})" !default;
$large-only: "#{$screen} and (min-width:#{$screen-lg-min}) and (max-width:#{$screen-lg-max})" !default;

$xlarge-up: "#{$screen} and (min-width:#{$screen-xl-min})" !default;
$xlarge-only: "#{$screen} and (min-width:#{$screen-xl-min}) and (max-width:#{$screen-xl-max})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{$screen-xxl-min})" !default;


// Panels
// -------------------------

// About
$about-title-font-size:          $font-size-3xl !default;
$about-title-font-color:         $gray-cool-darker !default;
$about-subtitle-font-size:       $font-size-xl !default;
$about-subtitle-font-color:      $gray-cool-dark !default;
$about-lead-font-size:           ceil(($font-size-base * 1.78)) !default; // ~25px
$about-lead-font-color:          $gray-cool-darker !default;
$about-desc-font-size:           ceil(($font-size-base * 1.21)) !default; // ~17px
$about-desc-font-color:          $gray-cool-dark !default;

// Carousel
$carousel-width:                 100% !default;
$carousel-height:                700px !default;
$carousel-control-width:         15% !default;
$carousel-control-img-width:     26px !default;
$carousel-control-img-height:    81px !default;

// Hero
$hero-font-color:                #fff !default;
$hero-heading-font-size-md:      $font-size-3xl !default;
$hero-heading-font-size-lg:      $font-size-4xl !default;

// Portfolio
$portfolio-border-width-sm:      $space-byte !default;
$portfolio-border-width-md:      $space-kilo-byte !default;
$portfolio-border-width-lg:      $space-mega-byte !default;
$portfolio-categories-font-size: ceil(($font-size-base * 1.14)) !default; // ~16px
$portfolio-categories-size:      48px !default;


// Z-index master list
// -------------------------

$zindex-header:                  1000 !default;
