//
// Body background
// --------------------------------------------------


// Base class
// --------------------

//.body-bg {}


// Sub-classes
// --------------------

.body-bg-intro {
  background-image: url("../img/dancing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
