//
// Utility classes
// --------------------------------------------------
//


// Misc

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}


// Floats

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content

// Hide from screenreaders and browsers
.hidden {
  @include hidden;
}
.show {
  @include show;
}
.invisible {
  visibility: hidden;
}


// Vertical alignment

// .valign-tt {
//   vertical-align: text-top;
// }
// .valign-t {
//   vertical-align: top;
// }
// .valign-bl {
//   vertical-align: baseline;
// }


//
// Spacer
//
// Use it as a placeholder "silent class", to leave empty
// vertical space between components.
// (http://blog.teamtreehouse.com/extending-placeholder-selectors-with-sass)
//
// %spacer {
//   margin-bottom: $line-height-computed;
//   @media #{$large-up} {
//     margin-bottom: ($line-height-computed * 3);
//   }
// }
