//
// About me
// --------------------------------------------------


.about-me {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  background-color: white;
  @media #{$medium-up} {
    text-align: left;
  }
  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: $space-giga-byte;
    padding-bottom: $space-giga-byte;
    font-size: $about-me-title-font-size;
    font-weight: 300;
    line-height: .9;
    color: $about-me-title-font-color;
    &:after {
      margin-left: -50px;
      content: '';
      background-color: $brand-primary;
      @include positioner(100px, 1px, bottom, 0, left, 50%);
      @media #{$medium-up} {
        margin-left: 0;
        width: 50px;
        left: 0;
      }
    }
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: $space-zeta-byte;
    font-size: $about-me-subtitle-font-size;
    font-weight: 400;
    line-height: 1.2;
    color: $about-me-subtitle-font-color;
    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }
  &__lead {
    margin-top: 0;
    margin-bottom: $space-byte;
    font-size: $about-me-lead-font-size;
    font-weight: 300;
    color: $about-me-lead-font-color;
  }
  &__desc {
    p,
    ul,
    ol {
      margin-bottom: $space-giga-byte;
      font-size: $about-me-desc-font-size;
      font-weight: 400;
      color: $about-me-desc-font-color;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
