//
// About me
// --------------------------------------------------


.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: white;
  &__title {
    margin-top: 0;
    margin-bottom: $space-peta-byte;
    font-size: $font-size-xxxl;
    font-weight: 300;
    color: $about-me-color;
  }
  &__subtitle,
  p {
    margin-top: 0;
    margin-bottom: $space-peta-byte;
    font-size: $about-me-font-size;
    font-weight: 400;
    line-height: 1.4;
    color: $about-me-color;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
