//
// Footer main
// --------------------------------------------------


.footer-main {
  padding-top: 50px;
  background-color: white;
  @media #{$medium-up} {
    padding-top: 70px;
  }
  @media #{$large-up} {
    padding-top: 90px;
  }
  &__contact {
    color: $footer-main-contact-font-color;
    ul {
      line-height: $btn-size;
      @include list-inline(0, 0);
    }
    li {
      &:first-child {
        font-size: $footer-main-contact-font-size;
      }
      &:after {
        @include splitter-after($color: $footer-main-contact-pipe-color);
      }
    }
    a {
      font-weight: 700;
      color: $footer-main-contact-font-color;
      @include transition(color .3s);
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
  }
  &__btn {
    float: right;
  }
}
