//
// Hero
// --------------------------------------------------


.hero {
  position: relative;
  width: 100%;
  margin-top: $header-main-height;
  video {
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    @include translate(-50%, -50%);
    @include positioner(auto, auto, top, 50%, left, 50%);
  }
  &__title {
    margin: 0;
    font-size: $hero-heading-font-size;
    font-weight: 700;
    line-height: .9;
    color: $hero-font-color;
    @include positioner(auto, auto, bottom, $space-kilo-byte, left, $space-mega-byte);
    > span {
      display: block;
    }
    abbr[title] {
      border-bottom: none;
    }
  }
}
