//
// Hero
// --------------------------------------------------


.hero {
  position: relative;
  width: 100%;
  margin-top: $header-main-height;
  padding-top: $space-exa-byte;
  padding-bottom: $space-exa-byte;
  text-align: center;
  @media #{$medium-up} {
    text-align: right;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  &__title {
    margin: 0;
    font-size: $hero-heading-font-size;
    font-weight: 700;
    line-height: .9;
    color: $hero-font-color;
    > span {
      display: block;
    }
    abbr[title] {
      border-bottom: none;
    }
  }
}
