//
// Portfolio
// --------------------------------------------------


.portfolio {
  background-color: white;
  > .row {
    > ul {
      @include list-reset;
      @include clearfix;
    }
  }
  &__work {
    position: relative;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-bottom: $portfolio-border-width-sm solid $body-bg;
    @media #{$medium-up} {
      float: left;
      width: 33.055555555556%; // 476px / 1440px
      margin-left: 0;
      margin-right: .416666666667%; // 6px / 1440px
      border-bottom-width: $portfolio-border-width-md;
    }
    &:nth-child(3n+0) {
      margin-right: 0;
    }
    a {
      display: block;
      @include fade;
    }
    ul {
      font-size: $portfolio-categories-font-size;
      line-height: $portfolio-categories-size;
      text-align: center;
      color: white;
      @include positioner(100%, $portfolio-categories-size, bottom, 0, left, 0);
      @include rgba-bg(black, 0, 0, 0, .7);
      @include list-inline(0, 0);
    }
    li {
      &:after {
        @include splitter-after;
      }
      &:last-child:after {
        @include splitter-after($content: '', $pad-h: 0);
      }
    }
    img {
      display: block;
      @include size(100%, auto);
    }
  }
}
