//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 ($line-height-computed / 2);
}


// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small,
.small {
  font-size: 85%;
}

// http://www.impressivewebs.com/bold-italic-html5/
strong,
b {
  font-family: $font-family-sans-serif;
  font-weight: 700;
}
em {
  font-style: italic;
}

// Undo browser default styling
cite {
  font-style: normal;
}
