//
// About
// --------------------------------------------------


.about {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  @media #{$medium-up} {
    text-align: left;
  }
  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: $space-giga-byte;
    padding-bottom: $space-giga-byte;
    font-size: $about-title-font-size;
    font-weight: 300;
    line-height: .9;
    color: $about-title-font-color;
    &:after {
      margin-left: -50px;
      content: '';
      background-color: $brand-primary;
      @include positioner(100px, 1px, bottom, 0, left, 50%);
      @media #{$medium-up} {
        margin-left: 0;
        width: 50px;
        left: 0;
      }
    }
  }
  &__subtitle {
    margin-top: 0;
    font-size: $about-subtitle-font-size;
    font-weight: 400;
    line-height: 1.2;
    color: $about-subtitle-font-color;
    &__category {
      &:after {
        content: ' / ';
        color: $brand-secondary;
      }
    }
    &__tag {
      &:after {
        content: ' | ';
        color: $brand-secondary;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  &__lead {
    margin-top: 0;
    margin-bottom: $space-byte;
    font-size: $about-lead-font-size;
    font-weight: 300;
    color: $about-lead-font-color;
  }
  &__desc {
    p,
    ul,
    ol {
      margin-bottom: $space-giga-byte;
      font-size: $about-desc-font-size;
      font-weight: 400;
      color: $about-desc-font-color;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &--me {
    background-color: white;
    .about__subtitle {
      margin-bottom: $space-zeta-byte;
      @media #{$medium-up} {
        margin-bottom: 0;
      }
    }
  }
  &--project {
    background-color: $gray-lightest;
    .about__subtitle {
      margin-bottom: $space-zeta-byte;
    }
  }
}
