//
// Briefing
// --------------------------------------------------


.briefing {

  background-color: $gray-lightest;
  text-align: center;
  @include spacer-v;
  @media #{$medium-up} {
    text-align: left;
  }

  &__title {
    font-size: $briefing-title-font-size-sm;
    font-weight: 300;
    color: $briefing-title-font-color;
    @media #{$medium-up} {
      font-size: $briefing-title-font-size-md;
    }
  }
  &__subtitle {
    margin-top: 0;
    margin-bottom: $space-giga-byte;
    font-size: $briefing-subtitle-font-size-sm;
    font-weight: 400;
    line-height: 1.2;
    color: $briefing-subtitle-font-color;
    @media #{$medium-up} {
      margin-bottom: $space-zeta-byte;
      font-size: $briefing-subtitle-font-size-md;
    }
    &__category {
      &:after {
        content: ' / ';
        color: $brand-secondary-light;
      }
    }
    &__tag {
      &:after {
        content: ' | ';
        color: $brand-secondary-light;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  &__lead {
    margin-top: 0;
    margin-bottom: $space-byte;
    font-size: $briefing-lead-font-size;
    font-weight: 300;
    color: $briefing-lead-font-color;
  }
  &__desc {
    p,
    ul,
    ol {
      margin-bottom: $space-giga-byte;
      font-size: $briefing-desc-font-size;
      font-weight: 400;
      color: $briefing-desc-font-color;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
}
