//
// Footer
// --------------------------------------------------


.footer {
  padding-top: 60px;
  background-color: white;
  @media #{$medium-up} {
    padding-top: 90px;
  }
  @media #{$large-up} {
    padding-top: 120px;
  }
  &__contact {
    color: $footer-contact-font-color;
    ul {
      line-height: $btn-size;
      @include list-inline(0, 0);
    }
    li {
      &:first-child {
        font-size: $footer-contact-font-size;
      }
      &:after {
        @include splitter-after($color: $footer-contact-pipe-color);
      }
    }
    a {
      font-weight: 700;
      color: $footer-contact-font-color;
      @include transition(color .3s);
      &:hover,
      &:focus {
        color: $brand-secondary;
      }
    }
  }
  &__btn {
    float: right;
  }
}
