//
// Footer
// --------------------------------------------------


.footer {

  background-color: white;
  @include spacer-v-top(60px);
  @media #{$small-only} {
    text-align: center;
  }

  &__btn {
    @media #{$medium-up} {
      float: right;
    }
  }
  
}
