//
// Header
// --------------------------------------------------


.header {

  padding-top: $space-giga-byte;
  padding-bottom: $space-giga-byte;
  background-color: white;
  @include size($header-width, $header-height);

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-header;
  }

  &__brand {
    display: inline-block;
    @include transition(transform .3s);
    @media #{$small-only} {
      padding-top: $space-byte;
      padding-bottom: $space-byte;
    }
    &:hover,
    &:focus {
      @include scale(1.05);
    }
    > img {
      width: 100%;
      @media #{$medium-up} {
        width: auto;
      }
    }
  }
  &__contact {
    font-weight: 700;
    line-height: $header-height / 2;
    text-align: right;
    color: $header-contact-font-color;
    ul {
      @include list-inline(0, 0);
    }
    li {
      &:first-child:after {
        @media #{$medium-up} {
          content: '|';
          color: $brand-secondary;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
    a {
      padding-left: $space-byte;
      padding-right: $space-byte;
      color: $header-contact-font-color;
      @include transition(color .3s);
      @media #{$medium-up} {
        padding-left: $space-mega-byte;
        padding-right: $space-mega-byte;
      }
      &:hover,
      &:focus {
        color: $brand-secondary;
      }
    }
    img {
      vertical-align: text-bottom;
    }
  }
  
}
