//
// Header
// --------------------------------------------------


.header {

  padding-top: $space-giga-byte;
  padding-bottom: $space-giga-byte;
  background-color: white;
  @include size($header-width, $header-height);

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-header;
  }

  &__brand {
    display: inline-block;
    @include transition(transform .3s);
    @media #{$small-only} {
      padding-top: $space-byte;
      padding-bottom: $space-byte;
    }
    &:hover,
    &:focus {
      @include scale(1.05);
    }
    > img {
      width: 100%;
      @media #{$medium-up} {
        width: auto;
      }
    }
  }
  
}
